* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: antiquewhite;
}
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.box {
  width: 500px;
  /* height: 500px; */
  aspect-ratio: 5102 / 3236;
  background-color: crimson;
  /* transition:
    background-color 0.4s ease-out,
    scale 0.6s ease-in-out; */
  transition: transform 0.5s ease;
  transform-origin: top left;
  overflow: hidden;
}
.box:hover {
  transform: rotate(25deg);
  /* transform: translate3d(50px, 35px, 25px) rotate(45deg) scale(0.75) skew(45deg); */
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.6s ease-in-out;
}
.box:hover img {
  scale: 1.3;
}
